{% extends "base.html" %}

{% block title %}
Главная страница
{% endblock title %}

{% block content %}
<div class="container">
  <p>
    <a href="{% url "classes:add_prod_class" %}">
      Добавить класс изделия
    </a>
  <p>
    <a href="{% url "classes:add_enum_class" %}">
        Добавить класс перечисления
    </a>
  </p>
  <p>
    <a href="{% url "ei:add" %}">
        Добавить единицу измерения
    </a>
  </p>
  <p>
    <a href="{% url "parametr:add" %}">
        Добавить параметр
    </a>
  </p>
  <p>
    <a href="{% url "enums:add" %}">
        Добавить значение перечисления
    </a>
  </p>
  <p>
    <a href="{% url "products:add" %}">
        Добавить изделие 
    </a>
  </p>
</div>
{% endblock content %}