{% extends "base.html" %}
{% load static %}

{% block title %}
{{ product.name }}
{% endblock title %}


{% block content %}
<div>
    <div>
        <div class="form-container rounded-box">
<ul>
<li>
    <p>Идентификатор изделия: {{ product.id }}</p>
</li>
<li>
    <p>Название изделия: {{ product.name }}</p>
</li>
<li>
    <p>Родительский класс: <a href="{% url "products:class_products" product.class_field.main_class.id product.class_field.id %}">{{ product.class_field }}</a></p>
</li>
</ul>
<hr/>
<ul>
    <h3>
        Список параметров
    </h3>
    
    {% for param in params %}
    <li>
        <div class="responsive-container">
            {% if param.enum_val.enum.main_class.id == 16 %}
            <a href="{% url "enums:detail" param.enum_val.enum.main_class.id param.enum_val.id %}">
                <img src="{{ param.enum_val.image.url }}" alt="Изображение перечисления" height="150" width="400">
            </a>
            {% else %}
            <p class="responsive-text">
                {{ param.par.name }}, {{ param.value }}
            </p>
            {% endif %}
            <button class="responsive-button" height="30" width="30">
                <a href="{% url "products:edit_param" product.id param.par.id %}">
                    Редактировать параметр
                </a>
            </button>
            <button class="responsive-button" height="30" width="30">
                <a href="{% url "products:delete_param" product.id param.par.id %}">
                    Удалить параметр
                </a>
            </button>
        </div>
    </li>
    {% endfor %}
</ul>
<p>
    <button class="submit-btn">
        <a href="{% url "products:edit" product.id %}">
            Редактировать изделие
        </a>
    </button>
    <button class="submit-btn">
        <a href="{% url "products:delete" product.id %}">
            Удалить изделие
        </a>
    </button>
    <button class="submit-btn">
        <a href="{% url "products:add_param" product.id %}">
            Добавить параметр
        </a>
    </button>
    <a href="{% url 'products:create_modification' product.id %}" class="btn btn-primary">
        Создать модификацию
    </a>
    <form action="{% url 'specifications:total_cost_ratio' product.id %}" method="get">
        <label for="quantity">Введите количество изделия:</label>
        <input type="number" name="quantity" min="1" step="1" required>
        <button type="submit" class="btn btn-primary">
            Рассчитать норму расхода
        </button>
    </form>
    <form action="{% url 'specifications:changelog' product.id %}" method="get" style="display: inline;">
        <button type="submit" class="btn btn-primary">Скачать журнал изменений</button>
    </form>
</p>
</div>
</div>
</div>
{% endblock content %}
