{% extends "base.html" %}

{% block title %}
{% if '/edit/' in request.path %}
Редактирование перечисления
{% elif '/delete/' in request.path %}
Удаление перечисления
{% else %}
Добавление перечисления
{% endif %}
{% endblock title %}

{% block content %}
<div class="form-container rounded-box">
    <h2>
    {% if '/edit/' in request.path %}
        Форма редактирования значения перечисления <a href="{% url "enums:enums_detail" instance.enum.class_id instance.pos_id %}">"{{ instance.enum.name }} - {{ instance.name }}"</a>
    {% elif '/delete/' in request.path %}
        Форма удаления значения перечисления <a href="{% url "enums:enums_detail" instance.enum.class_id instance.pos_id %}">"{{ instance.enum.name }} - {{ instance.name }}"</a>
    {% else %}
        Форма добавления значения перечисления
    {% endif %}
    </h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if not '/delete/' in request.path %}
        <!-- Поля формы -->
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            
            <!-- Вывод ошибок для конкретного поля -->
            {% if field.errors %}
            <ul class="errorlist">
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            
            <!-- Вывод подсказки -->
            {% if field.help_text %}
            <small style="color: #666;">{{ field.help_text }}</small>
            {% endif %}
        </div>
        {% endfor %}
            <!-- Вывод всех ошибок формы -->
            {% if form.non_field_errors %}
            <div class="errorlist">
                {{ form.non_field_errors }}
            </div>
            {% endif %}
        {% else %}
            <ul>
                <li>
                    <p>Название: {{ instance.enum.name }}</p>
                </li>
                <li>
                    <p>Значение: {{ instance.name }}</p>
                </li>
            </ul>
        {% endif %}
        <!-- Серая кнопка отправки -->
        <button type="submit" class="submit-btn">
            {% if '/add/' in request.path %}
            Добавить значение перечисления
            {% elif '/edit/' in request.path %}
            Изменить значение перечисления
            {% elif '/delete/' in request.path %}
            Удалить значение перечисления
            {% endif %}
        </button>
    </form>
</div>
{% endblock content %}

